@import 'typed';

.wrapper{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.typewriter {
  display: block;
  font-size: 40px;
  display: flex;
  > input,
  > .placeholder {
    display: block;
    appearance: none;
    background-color: transparent;
    border: none;
  }
  > .placeholder {
    pointer-events: none;
    color: #F5BD02;
    @include typed(
      "Python Dev",
      "Frontend Dev",
      "Backend Dev",
      1.5,
      (
        caret-width: 2px,
        caret-space: 2px
      )
    );
  }
  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}

.content-card{
  width: 240px;
  height: 80px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.content-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.content-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.my-name{
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(135deg, #F5BD02, #D3AF37, #F5BD02);
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0%{
     background-position: 200% 0;
  }
  100%{
     background-position: -200% 0;
  }
}
