@import 'typed';
@import "tailwindcss";

.page{
  margin-right: 1rem;
  margin-left: 1rem;
}

.side-head{
  color: #F3E6C6;
  font-size: 20px;
  span{
    font-weight: 600;
    font-size: 23px;
  }
}

.wrapper{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 240px;
}

.typewriter {
  display: block;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  > input,
  > .placeholder {
    display: block;
    appearance: none;
    background-color: transparent;
    border: none;
  }
  > .placeholder {
    pointer-events: none;
    color: #F3E6C6;
    @include typed(
      "Python Dev ",
      "Frontend Dev ",
      "Backend Dev ",
      "Web Dev ",
      "Student",
      1.75,
      (
        caret-width: 2px,
        caret-space: 2px
      )
    );
  }
  > input {
    &:focus,
    &:active {
      + .placeholder {
        display: none;
      }
    }
  }
}

.content-card{
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  display: flex;
  place-items: center;
}

.content-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.my-name{
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(135deg, #F5BD02, #D3AF37, #F5BD02);
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0%{
     background-position: 200% 0;
  }
  100%{
     background-position: -200% 0;
  }
}
